{% extends 'base.html' %}
{% block body %}
    <div class="container" style="margin-top:90px;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{userupdateform.as_p}}
            {{userprofileform.as_p}}
            <input type="submit" class="btn-md btn-primary" value="Save">
        </form>
    </div>
    <div class="container p-3 bg-light">
        <a href="{% url 'account:delete' %}"><button class="btn btn-danger">Delete Account</button></a>
    </div>
{% endblock %}