{% extends 'base.html' %}
{% block body %}
    <div class="cont bg-light">
        <div class="emailformcard p-3" style="background: #fff;">
            <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.2);">
                <h4><a style="font-family:'Dancing Script',cursive;font-size:35px;color:rgba(0,0,0,0.6);" 
                    alt="Logo" href="{% url 'blog:index' %}">
                    Diary.com
                </a></h4>
            </div>
            <div class="mt-2">
                {% if showpwdform %}
                <form method="POST">
                    {% csrf_token %}
                    <label for="pwd" class="form-label"><h3>{{txt}}</h3></label>
                    <div class="input-group mb-3">
                        <input id="pwd" name="password" class="form-control" placeholder="Enter password" type="password"/>
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
                {% elif showusernameform %}
                <form method="POST">
                    {% csrf_token %}
                    <label for="username" class="form-label"><h3>{{txt}}</h3></label>
                    <div class="input-group mb-3">
                        <input id="username" name="username" class="form-control" placeholder="abc@123" type="text"/>
                        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
                {% else %}
                    {% if txt is 'expired' %}
                    <h1>Link Expired</h1>
                    {% else %}
                    <h1>Verify your Email</h1>
                    <p>We have sent an email to <b>{{txt}}</b></p>
                    <p>You need to verify your email to continue.</p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="text-center"><a href="{% url 'account:login' %}"><button class="btn btn-primary px-5 py-1 rounded">Back to Login</button></a></div>
        </div>
    </div>
{% endblock %}