{% extends 'base.html' %}
{% block body %}
    <div class="cont bg-light">
        <div class="emailformcard p-3" style="background: #fff;">
            <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.2);">
                <h4><a style="font-family:'Dancing Script',cursive;font-size:35px;color:rgba(0,0,0,0.6);" 
                    alt="Logo" href="{% url 'blog:index' %}">
                    Diary.com
                </a></h4>
            </div>
            <div class="mt-2">
                <form method="POST">
                    {% csrf_token %}
                    <label for="pwd" class="form-label"><h3>{{username}}</h3></label>
                    <div class="input-group mb-3">
                        <input id="pwd" name="password" class="form-control" placeholder="Enter password" required type="password"/>
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                    </div>
                    <input class="btn btn-out text-white" style="background:#027373;" type="submit" value="Submit">
                </form>
            </div>
            <div class="text-center"><a href="{% url 'account:login' %}">
                <button type="button" class="btn btn-outline-dark px-5 py-1">Back to Login</button>
            </a></div>
        </div>
    </div>
{% endblock %}