{% extends 'base.html' %}
{% block body %}
    <div class="cont bg-light">
        <div class="emailformcard p-3" style="background: #fff;">
            <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.2);">
                <h4><a style="font-family:'Dancing Script',cursive;font-size:35px;color:rgba(0,0,0,0.6);" 
                    alt="Logo" href="{% url 'blog:index' %}">
                    Diary.com
                </a></h4>
            </div>
            <div class="mt-2">
                {% if expired %}
                <h1>Link Expired</h1>
                {% else %}
                <h1>Verify your Email</h1>
                <p>We have sent an email to <b>{{email}}</b></p>
                <p>You need to verify your email to continue.</p>
                {% endif %}
            </div>
            <div class="text-center"><a href="{% url 'account:login' %}">
                <button type="button" class="btn btn-outline-dark px-5 py-1">Back to Login</button>
            </a></div>
        </div>
    </div>
{% endblock %}