{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'diary.png' %}">
    <!-- BootStrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    <!-- Local CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Medium editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <link href="https://yabwe.github.io/medium-editor/bower_components/medium-editor/dist/css/themes/beagle.css" rel="stylesheet"/>
    <title>Diary.com</title>
    <style>
        body{background:#ECF0F1}
        .load{
            position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
            /*change these sizes to fit into your project*/
            width:100px;
            height:100px;
        }
        .load hr{opacity:1;border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}
        .load :first-child{background:#A9D9D0;animation-delay:-1.5s}
        .load :nth-child(2){background:#027373;animation-delay:-1s}
        .load :nth-child(3){background:#F2E7DC;animation-delay:-0.5s}
        .load :last-child{background:#0D0D0D}

        @keyframes spin{
        0%,100%{transform:translate(0)}
        25%{transform:translate(160%)}
        50%{transform:translate(160%, 160%)}
        75%{transform:translate(0, 160%)}
        }
    </style>
</head>
<body onload="loader()" style="overflow-x:hidden;" class="bg-light">
    <div class="load">
        <hr/><hr/><hr/><hr/>
    </div>
    <nav class="navbar fixed-top navbar-expand-md text-white" style="background:#0D0D0D;">
        <div class="navbar-header">
            <a class="text-white" style="font-family:'Dancing Script',cursive;font-size:35px;" alt="Logo" href="{% url 'blog:index' %}">
                Diary.com
            </a>
        </div>
        <button class="navbar-toggler text-white" data-bs-toggle="collapse" data-bs-target="#mycollapse">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="mycollapse">
            <div class="container">
                <ul class="navbar-nav float-md-end" style="font-size:20px;">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'blog:userblogs' username=user.username %}">
                        <button class="btn border-2 btn-outline-light w-100 px-4">Blogs</button>
                    </a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'blog:createblog' %}">
                        <button class="btn border-2 btn-outline-light w-100 px-4">Create Blog</button>
                    </a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'account:sign' username='abc' %}">
                        <button type="button" class="btn border-2 btn-outline-light w-100 px-4">Sign Up</button>
                    </a></li>
                    {% endif %}
                    <li class="nav-item dropdown" style="cursor:pointer;">
                        <button class="btn border-2 border-white w-100 nav-link text-white dropdown-toggle" data-bs-toggle="dropdown">
                            {% if user.is_authenticated %}
                            {{user.first_name}}
                            &nbsp;<img src="{{user.profile.profile_pic.url}}" class="rounded" style="width:35px;height:35px;" alt="Profile">
                            {% else %}
                            User
                            &nbsp;<img src="{% static 'img6Q.png' %}" class="rounded" style="width:35px;height:35px;" alt="Profile">
                            {% endif %}
                        </button>    
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'account:logout' %}"><button class="dropdown-item">&nbsp;Logout</button></a></li>
                            <li><a href="{% url 'account:accdetail' %}"><button class="dropdown-item">&nbsp;Account</button></a></li>
                            {% else %}
                            <li><a href="{% url 'account:login' %}"><button class="dropdown-item">&nbsp;Login</button></a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="section" style="display:none;">
        {% block body %}
        <!-- Content goes here -->
        {% endblock %}
    </div>
</body>
<!-- BootStrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
crossorigin="anonymous"></script>
<!-- FontAwesome icons -->
<script src="https://kit.fontawesome.com/2939ec19a4.js" crossorigin="anonymous"></script>
<!-- Local JS -->
<script src="{% static 'script.js' %}"></script>
</html>